# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python 
2. R
3. SQL

**Objective:**
    
    List popular languages for Data Science:
        
        Python
        R 
        SQl
        Java, JavaScript
        Julia
        Scala

Some of the commonly used libraries used by Data Scientists include:
    
    1. Tensorflow
    2. Keras
    3. Sklearn
    4. Seaborn
    etc.

Some of the commonly used Data Science Tools:

|**Data Science Tools**|
------------------------
    |Jupyter Notebook, R |
    | SAS|
    | Apache Spark|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
sum = 2+3
print(sum)

5

In [2]:
a = 2
b = 6
x = 2*(a+b)
print(x)

16

#### Create a code cell to multiply and add numbers

In [3]:
x = (3*4)+5
x  #result

17

#### Create a code cell to convert minutes to hours

In [4]:
min = 200
hours = min/ 60 #This will convert 200 minutes to hours by diving by 60
print("200 minutes to hours:", hours)

200 minutes to hours: 3.3333333333333335